
/* ::::: https://www.python.org/static/stylesheets/style.css ::::: */

.psf-widget, .python-needs-you-widget, .main-header, .site-base { background-color: rgb(43, 91, 132); background-image: linear-gradient(rgb(30, 65, 94) 10%, rgb(43, 91, 132) 90%); box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.03) inset, 0px 0px 20px rgba(0, 0, 0, 0.03) inset; }
.psf-widget, .python-needs-you-widget { margin-bottom: 0.5em; padding: 1.25em; }
.psf-widget:after, .python-needs-you-widget:after { content: ""; display: table; clear: both; }
.pep-widget, .most-recent-events .more-by-location, .more-by-location { background-color: rgb(216, 219, 222); background-image: linear-gradient(rgb(230, 232, 234) 10%, rgb(216, 219, 222) 90%); box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.01) inset; }
.pep-widget, .most-recent-events .more-by-location { border: 1px solid rgb(202, 204, 206); margin-bottom: 0.5em; padding: 1.25em; }
.pep-widget:after, .most-recent-events .more-by-location:after { content: ""; display: table; clear: both; }
.single-event-date { background-color: rgb(255, 221, 108); background-image: linear-gradient(rgb(255, 232, 159) 10%, rgb(255, 221, 108) 90%); box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05) inset; }
.single-event-date { border: 1px solid rgb(255, 204, 36); margin-bottom: 0.5em; padding: 1.25em; }
.single-event-date:after { content: ""; display: table; clear: both; }
.psf-widget .button, .python-needs-you-widget .button, .header-banner .button, .header-banner a.button, button[type="submit"], .search-button, #dive-into-python .flex-control-paging a, .text form button, .text form input[type="submit"], .sidebar-widget form button, .sidebar-widget form input[type="submit"], input[type="submit"], input[type="reset"], button, a.button, .button { cursor: pointer; color: rgb(77, 77, 77) ! important; font-weight: normal; margin-bottom: 0.4375em; padding: 0.4em 0.75em 0.35em; text-align: left; white-space: nowrap; text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3); background-color: rgb(204, 204, 204); background-image: linear-gradient(rgb(217, 217, 217) 10%, rgb(204, 204, 204) 90%); border-width: 1px; border-style: solid; border-color: rgb(202, 204, 206) rgb(202, 204, 206) rgb(153, 153, 153); border-radius: 6px; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05), 0px 0px 5px rgba(255, 255, 255, 0.5) inset; }
.search-button:hover, #dive-into-python .flex-control-paging a:hover, .text form button:hover, .text form input[type="submit"]:hover, .sidebar-widget form button:hover, .sidebar-widget form input[type="submit"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:hover, .button:hover, .search-button:focus, #dive-into-python .flex-control-paging a:focus, .text form button:focus, .text form input[type="submit"]:focus, .sidebar-widget form button:focus, .sidebar-widget form input[type="submit"]:focus, input[type="submit"]:focus, input[type="reset"]:focus, button:focus, .button:focus, .search-button:active, #dive-into-python .flex-control-paging a:active, .text form button:active, .text form input[type="submit"]:active, .sidebar-widget form button:active, .sidebar-widget form input[type="submit"]:active, input[type="submit"]:active, input[type="reset"]:active, button:active, .button:active { color: rgb(26, 26, 26) ! important; background-color: rgb(217, 217, 217); background-image: linear-gradient(rgb(230, 230, 230) 10%, rgb(217, 217, 217) 90%); }
.psf-widget .button, .python-needs-you-widget .button, .header-banner .button, .header-banner a.button { background-color: rgb(255, 211, 67); background-image: linear-gradient(rgb(255, 223, 118) 10%, rgb(255, 211, 67) 90%); border-width: 1px; border-style: solid; border-color: rgb(220, 169, 0); }
.psf-widget .button:hover, .python-needs-you-widget .button:hover, .header-banner .button:hover, .psf-widget .button:active, .python-needs-you-widget .button:active, .header-banner .button:active { background-color: rgb(255, 211, 67); background-image: linear-gradient(rgb(255, 235, 169) 10%, rgb(255, 211, 67) 90%); }
button[type="submit"], .search-button, #dive-into-python .flex-control-paging a, .text form button, .text form input[type="submit"], .sidebar-widget form button, .sidebar-widget form input[type="submit"] { color: rgb(230, 232, 234) ! important; text-shadow: none; background-color: rgb(43, 91, 132); background-image: linear-gradient(rgb(55, 118, 171) 10%, rgb(43, 91, 132) 90%); border-width: 1px; border-style: solid; border-color: rgb(61, 131, 190) rgb(55, 118, 171) rgb(55, 118, 171) rgb(61, 131, 190); box-shadow: 0px 0px 5px rgba(55, 118, 171, 0.2) inset; }
button[type="submit"]:hover, .search-button:hover, #dive-into-python .flex-control-paging a:hover, .text form button:hover, .text form input[type="submit"]:hover, .sidebar-widget form button:hover, .sidebar-widget form input[type="submit"]:hover, button[type="submit"]:active, .search-button:active, #dive-into-python .flex-control-paging a:active, .text form button:active, .text form input[type="submit"]:active, .sidebar-widget form button:active, .sidebar-widget form input[type="submit"]:active { background-repeat: inherit; background-attachment: inherit; background-position: inherit; background-clip: inherit; background-origin: inherit; background-size: inherit; color: rgb(242, 244, 246) ! important; background-color: rgb(36, 78, 113); background-image: linear-gradient(rgb(49, 105, 152) 10%, rgb(36, 78, 113) 90%); }
.header-banner a:not(.button), .header-banner a:not(.readmore), .text a:not(.button), .sidebar-widget a:not(.button), .active-user-list a { border-bottom: 1px solid rgb(255, 223, 118); text-decoration: none; }
.header-banner a:hover:not(.button), .header-banner a:hover:not(.readmore), .text a:hover:not(.button), .sidebar-widget a:hover:not(.button), .active-user-list a:hover, .header-banner a:focus:not(.button), .header-banner a:focus:not(.readmore), .text a:focus:not(.button), .sidebar-widget a:focus:not(.button), .active-user-list a:focus { border-bottom-color: rgb(255, 211, 67); }
.blog-widget li, .event-widget li, .most-recent-posts li { border-top: 1px solid rgb(202, 204, 206); padding-left: 4em; padding-top: 0.4375em; padding-bottom: 0.4375em; position: relative; }
.blog-widget li time, .event-widget li time, .most-recent-posts li time { position: absolute; top: 50%; left: 0px; margin-top: -0.75em; }
.pagination a { display: block; color: rgb(153, 153, 153); padding: 0.5em 0.75em 0.4em; border: 1px solid rgb(202, 204, 206); background-color: transparent; }
form, .header-banner, .success-stories-widget .quote-from {  }
form:after, .header-banner:after, .success-stories-widget .quote-from:after { content: ""; display: table; clear: both; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, form { display: block; }
blockquote { quotes: none; }
blockquote:before, blockquote:after { content: none; }
q { display: inline; }
q:before { content: "“"; }
q:after { content: "”"; }
q q:before { content: "‘"; }
q q:after { content: "’"; }
ins { background-color: rgb(221, 221, 221); color: rgb(34, 34, 34); text-decoration: none; }
mark { display: inline-block; padding: 0px 0.25em; margin: 0px -0.125em; background-color: rgb(255, 255, 187); }
s, strike, del { text-decoration: line-through; }
abbr[title], dfn[title] { cursor: help; }
table { width: 100%; border-collapse: collapse; border-spacing: 0px; }
th, td { text-align: left; vertical-align: top; }
hr { display: block; height: 1px; border-right: 0px none; border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(202, 204, 206) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; margin: 1.75em 0px; padding: 0px; }
input, button, select { display: inline-block; vertical-align: middle; cursor: pointer; }
html { font-size: 100%; overflow-y: scroll; margin: 0px; }
body { text-rendering: optimizespeed; }
select, input, textarea, button { margin: 0px; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
ul, ol { margin-left: 1.5em; }
ul { list-style: outside none square; }
ol { list-style: outside none decimal; }
ol ol { list-style: outside none upper-alpha; }
ol ol ol { list-style: outside none lower-roman; }
ol ol ol ol { list-style: outside none lower-alpha; }
nav ul, menu ul, .menu, form ul, .errorlist, .text form label + ul, .sidebar-widget form label + ul, .tabs { margin-left: 0px; list-style: outside none none; }
small { font-size: 85%; }
b, strong, th { font-weight: 700; }
i, em, cite { font-style: italic; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
pre, code, kbd, samp, var { font-family: Consolas,"Lucida Console","Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New",monospace,sans-serif; }
pre { white-space: pre-wrap; word-wrap: break-word; }
code { color: rgb(17, 166, 17); }
var { font-style: italic; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
.ie7 legend { border: 0px none; padding: 0px; white-space: normal; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: baseline; }
.ie7 input[type="checkbox"] { vertical-align: bottom; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -moz-appearance: button; }
.lt-ie8 button, .lt-ie8 input[type="button"], .lt-ie8 input[type="reset"], .lt-ie8 input[type="submit"] { overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { padding: 0px; }
input[type="search"] {  }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: rgb(240, 221, 221); }
.ie7 img {  }
abbr.initialism {  }
abbr.truncation {  }
canvas {  }
svg:not(:root) { overflow: hidden; }
html { background-color: rgb(43, 91, 132); font: 100%/1.625 SourceSansProRegular,Arial,sans-serif; }
body { color: rgb(68, 68, 68); background-color: white; }
body:after { content: "small"; display: none; }
body, input, textarea, select, button { color: rgb(68, 68, 68); font: 100%/1.625 SourceSansProRegular,Arial,sans-serif; }
* { box-sizing: border-box; }
a, a:active, a:visited, a:hover, a:visited:hover { color: rgb(55, 118, 171); text-decoration: none; }
a:hover, a:focus { color: rgb(30, 41, 51); }
.touch a[href^="tel:"] { border-bottom: 1px dotted rgb(68, 68, 68); }
a img { display: block; margin: 0px auto; }
*::-moz-selection { background: none repeat scroll 0% 0% rgb(55, 118, 171); color: rgb(255, 255, 255); text-shadow: none; }
a:link {  }
img, embed, object, video { max-width: 100%; }
.giga { font-size: 2.5em; }
.fontface .giga { font-size: 2.875em; }
.fontface .giga span:before { font-size: 0.875em; }
.mega { font-size: 2.25em; }
.fontface .mega { font-size: 2.5875em; }
.fontface .mega span:before { font-size: 0.875em; }
.kilo { font-size: 2em; }
.fontface .kilo { font-size: 2.3em; }
.fontface .kilo span:before { font-size: 0.875em; }
h1, .alpha { color: rgb(55, 118, 171); line-height: 1em; font-size: 1.75em; margin-bottom: 0.4375em; }
h2, .beta { color: rgb(153, 153, 153); font-family: SourceSansProBold,Arial,sans-serif; font-size: 1.5em; margin-top: 1.3125em; margin-bottom: 0.32813em; }
h3, .chi { color: rgb(34, 34, 34); font-size: 1.3125em; margin-top: 1.75em; margin-bottom: 0.4375em; }
h4, .delta { color: rgb(34, 34, 34); font-family: SourceSansProBold,Arial,sans-serif; font-size: 1.125em; margin-top: 1.3125em; margin-bottom: 0.4375em; }
h5, .epsilon { color: rgb(34, 34, 34); font-family: SourceSansProBold,Arial,sans-serif; text-transform: uppercase; letter-spacing: 0.0625em; margin-top: 1.75em; }
h6, .gamma { color: rgb(34, 34, 34); font-family: SourceSansProBold,Arial,sans-serif; margin-top: 1.75em; }
blockquote { position: relative; font: italic 1.125em/2 Georgia,serif; padding-top: 1.3125em; padding-bottom: 1.3125em; border-top: 3px solid rgb(255, 235, 169); border-bottom: 3px solid rgb(255, 235, 169); margin-bottom: 1.3125em; }
blockquote footer { font: 0.77778em SourceSansProRegular,Arial,sans-serif; }
blockquote em { font-style: normal; }
dl { border-top: 1px solid rgb(230, 232, 234); }
dl dt { font-family: SourceSansProBold,Arial,sans-serif; border-bottom: 1px solid rgb(230, 232, 234); }
dl dd { padding-left: 1.5em; border-bottom: 1px solid rgb(202, 204, 206); }
.errorlist { color: rgb(181, 88, 99); margin-bottom: 0px; }
.errorlist + label { margin-top: 0px; }
.error-message { color: rgb(181, 88, 99); }
label { display: block; color: rgb(153, 153, 153); font-weight: bold; margin-top: 0.21875em; }
label.active { color: rgb(55, 118, 171); }
input, textarea { width: 100%; padding: 0.65em; border: 1px solid rgb(202, 204, 206); border-radius: 6px; }
input, textarea, select { margin-bottom: 0.875em; }
input[type="checkbox"], input[type="radio"] { width: auto; border: 0px none; margin-right: 0.25em; }
input[type="radio"] { margin-bottom: 0.25em; }
.no-touch input:focus { box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); }
input[required="required"] { border-color: rgb(181, 88, 99); }
input[required="required"]:focus { box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.5); }
input:-moz-placeholder { color: rgb(153, 153, 153); font-style: italic; }
input[type="submit"], input[type="reset"], button, a.button, .button { display: block; }
input[type="reset"], button.secondaryAction[type="submit"] { background-color: rgb(153, 153, 153); background-image: linear-gradient(rgb(179, 179, 179) 10%, rgb(153, 153, 153) 90%); border-width: 1px; border-style: solid; border-color: rgb(202, 204, 206) rgb(153, 153, 153) gray; }
input[type="reset"]:hover, input[type="reset"]:focus, input[type="reset"]:active, button.secondaryAction[type="submit"]:hover, button.secondaryAction[type="submit"]:focus, button.secondaryAction[type="submit"]:active { color: white; background-color: rgb(179, 179, 179); background-image: linear-gradient(rgb(153, 153, 153) 10%, rgb(179, 179, 179) 90%); }
input[type="image"] { width: auto; }
b, strong { font-family: SourceSansProBold,Arial,sans-serif; }
i, em { font-family: SourceSansProItalic,Arial,sans-serif; }
abbr, dfn { border-bottom: 1px dotted rgb(55, 118, 171); }
.col-row { margin: -1em; overflow: hidden; }
.column, .not-column { padding-left: 1em; padding-right: 1em; }
.column { padding-bottom: 1.75em; }
h1.not-column { padding-left: 0.57143em; padding-right: 0.57143em; }
h2.not-column { padding-left: 0.66667em; padding-right: 0.66667em; }
.pre, .rss-link { white-space: nowrap; }
.say-no-more { display: none; visibility: hidden; }
.prompt, .readmore:before, .give-me-more a:before { font-family: Flux-Regular,SourceSansProRegular,Arial,sans-serif; font-size: 120%; letter-spacing: -0.0625em; }
.readmore, .give-me-more a { white-space: nowrap; }
.readmore:before, .give-me-more a:before { content: ">>>"; margin-right: 0.25em; }
.larger { font-size: 120%; }
.indent { padding-left: 2em; }
.top-bar a:hover, .top-bar a:focus, .python .top-bar .python-meta a, .psf .top-bar .psf-meta a, .docs .top-bar .docs-meta a, .pypi .top-bar .pypi-meta a, .jobs .top-bar .jobs-meta a, .shop .top-bar .shop-meta a { color: white; background-color: rgb(31, 42, 50); background-image: linear-gradient(rgb(19, 25, 30) 10%, rgb(31, 42, 50) 90%); }
.top-bar a:hover:before, .top-bar a:focus:before, .python .top-bar .python-meta a:before, .psf .top-bar .psf-meta a:before, .docs .top-bar .docs-meta a:before, .pypi .top-bar .pypi-meta a:before, .jobs .top-bar .jobs-meta a:before, .shop .top-bar .shop-meta a:before { left: 50%; }
.top-bar { color: rgb(187, 187, 187); background-color: rgb(30, 41, 51); border-bottom: 1px solid rgb(31, 59, 71); }
.top-bar a { position: relative; display: block; color: rgb(153, 153, 153); background: none repeat scroll 0% 0% transparent; text-align: center; padding: 0.5em 0.75em 0.4em; font-size: 1em; line-height: 1.75em; }
.top-bar a:before { position: absolute; content: ""; width: 0px; height: 0px; border-color: transparent; border-style: solid; border-width: 0.5em; top: 0px; left: -9999px; margin-left: -0.25em; }
.top-bar li { border-top: 3px solid rgb(55, 118, 171); }
.top-bar .python-meta, .top-bar .python-meta a:before { border-top-color: rgb(55, 118, 171); }
.top-bar .psf-meta, .top-bar .psf-meta a:before { border-top-color: rgb(120, 121, 122); }
.top-bar .docs-meta, .top-bar .docs-meta a:before { border-top-color: rgb(255, 211, 67); }
.top-bar .pypi-meta, .top-bar .pypi-meta a:before { border-top-color: rgb(130, 176, 67); }
.top-bar .jobs-meta, .top-bar .jobs-meta a:before { border-top-color: rgb(160, 107, 167); }
.top-bar .shop-meta, .top-bar .shop-meta a:before { border-top-color: rgb(181, 88, 99); }
.meta-navigation { text-align: center; }
.meta-navigation .menu, .meta-navigation form ul, form .meta-navigation ul, .meta-navigation .errorlist, .meta-navigation .text form label + ul, .text form .meta-navigation label + ul, .meta-navigation .sidebar-widget form label + ul, .sidebar-widget form .meta-navigation label + ul { margin-bottom: 0px; }
.meta-navigation .say-no-more { display: inline; visibility: visible; }
.meta-navigation .jump-link { background-color: rgb(17, 23, 29); }
.main-header { border-top: 1px solid rgb(25, 25, 25); border-bottom: 1px solid rgb(68, 68, 68); }
.main-header .container { text-align: center; padding: 0.75em 1em; }
.site-headline { color: white; margin: 0.15em auto 0.2em; }
.site-headline a { display: block; margin: 0px auto; }
.site-headline a .python-logo { width: 217.5px; height: 61.5px; }
.site-headline a .psf-logo { width: 250.5px; height: 61.5px; }
.options-bar { width: 100%; color: rgb(187, 187, 187); margin-bottom: 1.3125em; border-top: 1px solid rgb(45, 62, 77); border-bottom: 1px solid rgb(7, 10, 12); background-color: rgb(30, 41, 51); line-height: 1em; border-radius: 6px; }
.options-bar form { padding: 0.35em 0.2em 0.3em; }
.options-bar .breaker { display: block; width: 100%; height: 1px; font-size: 1px; line-height: 1px; border-top: 1px solid rgb(7, 10, 12); border-bottom: 1px solid rgb(45, 62, 77); }
#site-map-link, .jump-to-menu, .search-the-site, .icon-search, .icon-search:before, input#s, .adjust-font-size, .winkwink-nudgenudge, .account-signin { display: inline-block; vertical-align: middle; }
.lt-ie8 #site-map-link, .lt-ie8 .jump-to-menu, .lt-ie8 .search-the-site, .lt-ie8 .icon-search, .lt-ie8 .icon-search:before, .lt-ie8 input#s, .lt-ie8 .adjust-font-size, .lt-ie8 .winkwink-nudgenudge, .lt-ie8 .account-signin { display: inline; }
.touch .search-the-site, .winkwink-nudgenudge, .account-signin { border-left: 1px solid rgb(45, 62, 77); }
.touch #site-map-link, .jump-to-menu, .adjust-font-size, .winkwink-nudgenudge { border-right: 1px solid rgb(7, 10, 12); }
#site-map-link { color: rgb(187, 187, 187); }
#site-map-link:hover, #site-map-link:focus { color: white; }
.no-touch #site-map-link { display: none; }
.menu-icon { display: inline-block; font-size: 1.25em; margin: -0.125em -0.125em 0px 0px; }
.search-the-site { text-align: left; padding: 0.35em 0.2em 0.3em; }
.search-the-site .icon-search:before { font-size: 1.75em; margin: 0px 0.125em 0px 0.25em; }
.search-the-site .no-touch { border-left: 0px none; }
.search-field { width: 4.5em; color: rgb(187, 187, 187); background-color: transparent; border: 0px none; margin: 0.125em 0px; padding: 0.4em 0px 0.3em; border-radius: 0px; }
.search-field:-moz-placeholder { color: rgb(187, 187, 187); font-style: normal; }
.search-field:focus { background-color: white; color: rgb(68, 68, 68); padding: 0.4em 0.5em 0.3em; }
.search-button { margin-right: 0.2em; margin-bottom: 0px; text-shadow: none; }
.touch .search-button { display: none; }
.no-touch .adjust-font-size { display: none; }
.adjust-font-size, .winkwink-nudgenudge, .account-signin { text-align: center; overflow: visible; }
.adjust-font-size .menu, .adjust-font-size form ul, form .adjust-font-size ul, .adjust-font-size .errorlist, .adjust-font-size .text form label + ul, .text form .adjust-font-size label + ul, .adjust-font-size .sidebar-widget form label + ul, .sidebar-widget form .adjust-font-size label + ul, .winkwink-nudgenudge .menu, .winkwink-nudgenudge form ul, form .winkwink-nudgenudge ul, .winkwink-nudgenudge .errorlist, .winkwink-nudgenudge .text form label + ul, .text form .winkwink-nudgenudge label + ul, .winkwink-nudgenudge .sidebar-widget form label + ul, .sidebar-widget form .winkwink-nudgenudge label + ul, .account-signin .menu, .account-signin form ul, form .account-signin ul, .account-signin .errorlist, .account-signin .text form label + ul, .text form .account-signin label + ul, .account-signin .sidebar-widget form label + ul, .sidebar-widget form .account-signin label + ul { margin-bottom: 0px; }
.adjust-font-size .tier-1 > a, .adjust-font-size .tier-2 > a, .winkwink-nudgenudge .tier-1 > a, .winkwink-nudgenudge .tier-2 > a, .account-signin .tier-1 > a, .account-signin .tier-2 > a { display: block; padding: 0.5em 1.5em 0.4em 1em; position: relative; }
.adjust-font-size .tier-1, .winkwink-nudgenudge .tier-1, .account-signin .tier-1 { display: block; width: 100%; }
.adjust-font-size .tier-1 > a, .winkwink-nudgenudge .tier-1 > a, .account-signin .tier-1 > a { text-align: center; }
.adjust-font-size .tier-2 > a, .winkwink-nudgenudge .tier-2 > a, .account-signin .tier-2 > a { text-align: left; }
.adjust-font-size .menu, .adjust-font-size form ul, form .adjust-font-size ul, .adjust-font-size .errorlist, .adjust-font-size .text form label + ul, .text form .adjust-font-size label + ul, .adjust-font-size .sidebar-widget form label + ul, .sidebar-widget form .adjust-font-size label + ul, .winkwink-nudgenudge .menu, .winkwink-nudgenudge form ul, form .winkwink-nudgenudge ul, .winkwink-nudgenudge .errorlist, .winkwink-nudgenudge .text form label + ul, .text form .winkwink-nudgenudge label + ul, .winkwink-nudgenudge .sidebar-widget form label + ul, .sidebar-widget form .winkwink-nudgenudge label + ul, .account-signin .menu, .account-signin form ul, form .account-signin ul, .account-signin .errorlist, .account-signin .text form label + ul, .text form .account-signin label + ul, .account-signin .sidebar-widget form label + ul, .sidebar-widget form .account-signin label + ul {  }
.adjust-font-size .menu:after, .adjust-font-size form ul:after, form .adjust-font-size ul:after, .adjust-font-size .errorlist:after, .winkwink-nudgenudge .menu:after, .winkwink-nudgenudge form ul:after, form .winkwink-nudgenudge ul:after, .winkwink-nudgenudge .errorlist:after, .account-signin .menu:after, .account-signin form ul:after, form .account-signin ul:after, .account-signin .errorlist:after { content: ""; display: table; clear: both; }
.adjust-font-size .tier-1, .winkwink-nudgenudge .tier-1, .account-signin .tier-1 { position: relative; }
.adjust-font-size .subnav, .winkwink-nudgenudge .subnav, .account-signin .subnav { position: absolute; z-index: 100; text-align: left; }
.no-touch .adjust-font-size .subnav, .no-touch .winkwink-nudgenudge .subnav, .no-touch .account-signin .subnav { min-width: 100%; top: -9999px; transition: all 0s ease 0s; }
.touch .adjust-font-size .subnav, .touch .winkwink-nudgenudge .subnav, .touch .account-signin .subnav { top: 120%; display: none; opacity: 0; transition: opacity 0.25s ease-in-out 0s; box-shadow: 0px 0.25em 0.75em rgba(0, 0, 0, 0.6); }
.touch .adjust-font-size .subnav:before, .touch .winkwink-nudgenudge .subnav:before, .touch .account-signin .subnav:before { position: absolute; content: ""; width: 0px; height: 0px; border-color: transparent; border-style: solid; border-width: 0.75em; top: -1.45em; display: block; }
.no-touch .adjust-font-size .element-1:hover .subnav, .no-touch .adjust-font-size .element-1:focus .subnav, .no-touch .adjust-font-size .element-2:hover .subnav, .no-touch .adjust-font-size .element-2:focus .subnav, .no-touch .adjust-font-size .element-3:hover .subnav, .no-touch .adjust-font-size .element-3:focus .subnav, .no-touch .adjust-font-size .element-4:hover .subnav, .no-touch .adjust-font-size .element-4:focus .subnav, .no-touch .winkwink-nudgenudge .element-1:hover .subnav, .no-touch .winkwink-nudgenudge .element-1:focus .subnav, .no-touch .winkwink-nudgenudge .element-2:hover .subnav, .no-touch .winkwink-nudgenudge .element-2:focus .subnav, .no-touch .winkwink-nudgenudge .element-3:hover .subnav, .no-touch .winkwink-nudgenudge .element-3:focus .subnav, .no-touch .winkwink-nudgenudge .element-4:hover .subnav, .no-touch .winkwink-nudgenudge .element-4:focus .subnav, .no-touch .account-signin .element-1:hover .subnav, .no-touch .account-signin .element-1:focus .subnav, .no-touch .account-signin .element-2:hover .subnav, .no-touch .account-signin .element-2:focus .subnav, .no-touch .account-signin .element-3:hover .subnav, .no-touch .account-signin .element-3:focus .subnav, .no-touch .account-signin .element-4:hover .subnav, .no-touch .account-signin .element-4:focus .subnav { left: 0px; top: 100%; transition-delay: 0.25s; }
.no-touch .adjust-font-size .element-5:hover .subnav, .no-touch .adjust-font-size .element-5:focus .subnav, .no-touch .adjust-font-size .element-6:hover .subnav, .no-touch .adjust-font-size .element-6:focus .subnav, .no-touch .adjust-font-size .element-7:hover .subnav, .no-touch .adjust-font-size .element-7:focus .subnav, .no-touch .adjust-font-size .element-8:hover .subnav, .no-touch .adjust-font-size .element-8:focus .subnav, .no-touch .adjust-font-size .last:hover .subnav, .no-touch .adjust-font-size .last:focus .subnav, .no-touch .winkwink-nudgenudge .element-5:hover .subnav, .no-touch .winkwink-nudgenudge .element-5:focus .subnav, .no-touch .winkwink-nudgenudge .element-6:hover .subnav, .no-touch .winkwink-nudgenudge .element-6:focus .subnav, .no-touch .winkwink-nudgenudge .element-7:hover .subnav, .no-touch .winkwink-nudgenudge .element-7:focus .subnav, .no-touch .winkwink-nudgenudge .element-8:hover .subnav, .no-touch .winkwink-nudgenudge .element-8:focus .subnav, .no-touch .winkwink-nudgenudge .last:hover .subnav, .no-touch .winkwink-nudgenudge .last:focus .subnav, .no-touch .account-signin .element-5:hover .subnav, .no-touch .account-signin .element-5:focus .subnav, .no-touch .account-signin .element-6:hover .subnav, .no-touch .account-signin .element-6:focus .subnav, .no-touch .account-signin .element-7:hover .subnav, .no-touch .account-signin .element-7:focus .subnav, .no-touch .account-signin .element-8:hover .subnav, .no-touch .account-signin .element-8:focus .subnav, .no-touch .account-signin .last:hover .subnav, .no-touch .account-signin .last:focus .subnav { right: 0px; top: 100%; transition-delay: 0.25s; }
.touch .adjust-font-size .element-1:hover .subnav, .touch .adjust-font-size .element-1 .subnav.touched, .touch .adjust-font-size .element-2:hover .subnav, .touch .adjust-font-size .element-2 .subnav.touched, .touch .adjust-font-size .element-3:hover .subnav, .touch .adjust-font-size .element-3 .subnav.touched, .touch .adjust-font-size .element-4:hover .subnav, .touch .adjust-font-size .element-4 .subnav.touched, .touch .winkwink-nudgenudge .element-1:hover .subnav, .touch .winkwink-nudgenudge .element-1 .subnav.touched, .touch .winkwink-nudgenudge .element-2:hover .subnav, .touch .winkwink-nudgenudge .element-2 .subnav.touched, .touch .winkwink-nudgenudge .element-3:hover .subnav, .touch .winkwink-nudgenudge .element-3 .subnav.touched, .touch .winkwink-nudgenudge .element-4:hover .subnav, .touch .winkwink-nudgenudge .element-4 .subnav.touched, .touch .account-signin .element-1:hover .subnav, .touch .account-signin .element-1 .subnav.touched, .touch .account-signin .element-2:hover .subnav, .touch .account-signin .element-2 .subnav.touched, .touch .account-signin .element-3:hover .subnav, .touch .account-signin .element-3 .subnav.touched, .touch .account-signin .element-4:hover .subnav, .touch .account-signin .element-4 .subnav.touched { display: block; opacity: 1; left: 0px; }
.touch .adjust-font-size .element-1 .subnav:before, .touch .adjust-font-size .element-2 .subnav:before, .touch .adjust-font-size .element-3 .subnav:before, .touch .adjust-font-size .element-4 .subnav:before, .touch .winkwink-nudgenudge .element-1 .subnav:before, .touch .winkwink-nudgenudge .element-2 .subnav:before, .touch .winkwink-nudgenudge .element-3 .subnav:before, .touch .winkwink-nudgenudge .element-4 .subnav:before, .touch .account-signin .element-1 .subnav:before, .touch .account-signin .element-2 .subnav:before, .touch .account-signin .element-3 .subnav:before, .touch .account-signin .element-4 .subnav:before { left: 1.5em; }
.touch .adjust-font-size .element-5:hover .subnav, .touch .adjust-font-size .element-5 .subnav.touched, .touch .adjust-font-size .element-6:hover .subnav, .touch .adjust-font-size .element-6 .subnav.touched, .touch .adjust-font-size .element-7:hover .subnav, .touch .adjust-font-size .element-7 .subnav.touched, .touch .adjust-font-size .element-8:hover .subnav, .touch .adjust-font-size .element-8 .subnav.touched, .touch .adjust-font-size .last:hover .subnav, .touch .adjust-font-size .last .subnav.touched, .touch .winkwink-nudgenudge .element-5:hover .subnav, .touch .winkwink-nudgenudge .element-5 .subnav.touched, .touch .winkwink-nudgenudge .element-6:hover .subnav, .touch .winkwink-nudgenudge .element-6 .subnav.touched, .touch .winkwink-nudgenudge .element-7:hover .subnav, .touch .winkwink-nudgenudge .element-7 .subnav.touched, .touch .winkwink-nudgenudge .element-8:hover .subnav, .touch .winkwink-nudgenudge .element-8 .subnav.touched, .touch .winkwink-nudgenudge .last:hover .subnav, .touch .winkwink-nudgenudge .last .subnav.touched, .touch .account-signin .element-5:hover .subnav, .touch .account-signin .element-5 .subnav.touched, .touch .account-signin .element-6:hover .subnav, .touch .account-signin .element-6 .subnav.touched, .touch .account-signin .element-7:hover .subnav, .touch .account-signin .element-7 .subnav.touched, .touch .account-signin .element-8:hover .subnav, .touch .account-signin .element-8 .subnav.touched, .touch .account-signin .last:hover .subnav, .touch .account-signin .last .subnav.touched { display: block; opacity: 1; right: 0px; }
.touch .adjust-font-size .element-5 .subnav:before, .touch .adjust-font-size .element-6 .subnav:before, .touch .adjust-font-size .element-7 .subnav:before, .touch .adjust-font-size .element-8 .subnav:before, .touch .adjust-font-size .last .subnav:before, .touch .winkwink-nudgenudge .element-5 .subnav:before, .touch .winkwink-nudgenudge .element-6 .subnav:before, .touch .winkwink-nudgenudge .element-7 .subnav:before, .touch .winkwink-nudgenudge .element-8 .subnav:before, .touch .winkwink-nudgenudge .last .subnav:before, .touch .account-signin .element-5 .subnav:before, .touch .account-signin .element-6 .subnav:before, .touch .account-signin .element-7 .subnav:before, .touch .account-signin .element-8 .subnav:before, .touch .account-signin .last .subnav:before { left: auto; right: 1.5em; }
.adjust-font-size .tier-2, .winkwink-nudgenudge .tier-2, .account-signin .tier-2 { display: block; min-width: 100%; }
.adjust-font-size .tier-2 a, .winkwink-nudgenudge .tier-2 a, .account-signin .tier-2 a { white-space: nowrap; }
.adjust-font-size a, .winkwink-nudgenudge a, .account-signin a { color: rgb(187, 187, 187); background-color: transparent; }
.adjust-font-size .tier-1, .winkwink-nudgenudge .tier-1, .account-signin .tier-1 { float: none; }
.adjust-font-size .tier-1:hover > a, .winkwink-nudgenudge .tier-1:hover > a, .account-signin .tier-1:hover > a { color: rgb(85, 85, 85); background-color: rgb(202, 204, 206); }
.adjust-font-size .subnav, .winkwink-nudgenudge .subnav, .account-signin .subnav { background-color: rgb(202, 204, 206); }
.adjust-font-size .subnav a, .winkwink-nudgenudge .subnav a, .account-signin .subnav a { color: rgb(85, 85, 85); }
.adjust-font-size .subnav a:hover, .adjust-font-size .subnav a:focus, .winkwink-nudgenudge .subnav a:hover, .winkwink-nudgenudge .subnav a:focus, .account-signin .subnav a:hover, .account-signin .subnav a:focus { color: rgb(230, 232, 234); background-color: rgb(153, 153, 153); }
.touch .adjust-font-size .subnav a .tier-2, .touch .winkwink-nudgenudge .subnav a .tier-2, .touch .account-signin .subnav a .tier-2 { padding-top: 0.75em; padding-bottom: 0.6em; }
.adjust-font-size .subnav .text-reset, .winkwink-nudgenudge .subnav .text-reset, .account-signin .subnav .text-reset { color: rgb(136, 136, 136); }
.touch .adjust-font-size .subnav, .touch .winkwink-nudgenudge .subnav, .touch .account-signin .subnav { top: 135%; border: 3px solid rgb(102, 102, 102); }
.touch .adjust-font-size .subnav:before, .touch .winkwink-nudgenudge .subnav:before, .touch .account-signin .subnav:before { top: -1.6em; border-color: transparent transparent rgb(102, 102, 102); }
#site-map-link, .adjust-font-size .tier-1 > a, .winkwink-nudgenudge .tier-1 > a, .account-signin .tier-1 > a { padding: 1em 1em 0.875em; }
.main-navigation { display: none; margin-bottom: 1px; }
.header-banner { clear: both; margin: 0px 1em; position: relative; }
.header-banner img { display: block; margin: 0px auto; }
.header-banner p { color: rgb(230, 232, 234); }
.header-banner a:not(.button), .header-banner a:not(.readmore) { color: rgb(255, 211, 67); }
.header-banner a:hover:not(.button), .header-banner a:focus:not(.button), .header-banner a:hover:not(.readmore), .header-banner a:focus:not(.readmore) { color: rgb(255, 255, 255); }
.home .slideshow { margin: 0px auto; max-width: 61.25em; background: none repeat scroll 0% 0% rgb(30, 41, 51); box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6) inset; }
.slide-code, .slide-copy { text-align: left; }
.slide-code { overflow: auto; padding: 1.25em 1.5em; }
.slide-code code { display: inline-block; color: rgb(17, 166, 17); }
.slide-code code .comment { color: rgb(102, 102, 102); }
.slide-code code .output { color: rgb(221, 221, 221); }
.js .launch-shell, .no-js .launch-shell { display: none; }
.slide-copy { background: none repeat scroll 0% 0% rgb(28, 59, 86); padding: 1.25em 2.5em; }
.slide-copy h1 { color: rgb(255, 211, 67); font-size: 1.3125em; font-family: SourceSansProBold,Arial,sans-serif; }
#dive-into-python .flex-control-paging { position: absolute; bottom: 0px; left: 50%; padding: 0px 0px 1em; margin-left: 0px; width: 50%; max-width: 30.75em; }
#dive-into-python .flex-control-paging a { opacity: 0.7; }
#dive-into-python .flex-control-paging a:hover, #dive-into-python .flex-control-paging a:focus { opacity: 1; }
#dive-into-python .flex-control-paging .flex-active { color: rgb(255, 211, 67) ! important; opacity: 1; }
.introduction { color: rgb(202, 204, 206); font-size: 1.25em; text-align: left; padding: 0.25em 0.5em; margin-top: 0.875em; margin-bottom: 0.875em; }
.introduction p { line-height: 1.4em; margin-bottom: 0px; }
.introduction a, .introduction a:link, .introduction a:visited { color: rgb(255, 211, 67); text-decoration: underline; }
.introduction a:hover, .introduction a:focus, .introduction a:link:hover, .introduction a:link:focus, .introduction a:visited:hover, .introduction a:visited:focus { color: white; }
.introduction .breaker { display: none; }
.about-banner, .download-for-current-os, .documentation-banner, .latest-blog-post, .featured-event, .jobs-intro { text-align: left; }
.call-to-action { color: rgb(255, 211, 67); font-size: 1.125em; line-height: 1.25em; margin-top: 0.4375em; margin-bottom: 0.4375em; }
.call-to-action a { color: rgb(255, 211, 67); border-bottom: 2px dotted rgb(55, 118, 171); line-height: 1.35em; }
.call-to-action a:hover, .call-to-action a:focus { color: rgb(230, 232, 234); }
.content-wrapper { padding: 0px; background-color: rgb(249, 249, 249); background-image: linear-gradient(rgb(252, 252, 252) 10%, rgb(249, 249, 249) 90%); }
.content-wrapper .container { padding: 0.25em; }
.main-content { padding-bottom: 1.75em; }
.main-content > article { margin-top: 1.3125em; padding-bottom: 1.75em; }
.page-title { color: rgb(102, 102, 102); word-spacing: 0.15em; font-size: 2em; }
.fontface .page-title { font-size: 2.3em; }
.fontface .page-title span:before { font-size: 0.875em; }
.default-title { word-spacing: 0.15em; }
.text { font-size: 1em; }
.text .giga, .text .mega, .text .kilo { color: rgb(55, 118, 171); }
.sidebar-widget { padding-bottom: 1.3125em; }
.text h1, .sidebar-widget h1 { margin-top: 1em; margin-bottom: 0.25em; }
.text .default-title, .text .page-title, .sidebar-widget .default-title, .sidebar-widget .page-title { margin-top: 1.3125em; margin-bottom: 0.875em; }
.text p, .text pre, .text ul, .text ol, .text dl, .text blockquote, .text address, .text form, .text table, .text figure, .sidebar-widget p, .sidebar-widget pre, .sidebar-widget ul, .sidebar-widget ol, .sidebar-widget dl, .sidebar-widget blockquote, .sidebar-widget address, .sidebar-widget form, .sidebar-widget table, .sidebar-widget figure { margin-bottom: 1.3125em; line-height: 1.875; }
.text p, .text dd, .text blockquote, .text address, .sidebar-widget p, .sidebar-widget dd, .sidebar-widget blockquote, .sidebar-widget address { -moz-hyphens: auto; }
.text p tt, .text p var, .text p code, .text p kbd, .text p abbr, .text p acronym, .text dd tt, .text dd var, .text dd code, .text dd kbd, .text dd abbr, .text dd acronym, .text blockquote tt, .text blockquote var, .text blockquote code, .text blockquote kbd, .text blockquote abbr, .text blockquote acronym, .text address tt, .text address var, .text address code, .text address kbd, .text address abbr, .text address acronym, .sidebar-widget p tt, .sidebar-widget p var, .sidebar-widget p code, .sidebar-widget p kbd, .sidebar-widget p abbr, .sidebar-widget p acronym, .sidebar-widget dd tt, .sidebar-widget dd var, .sidebar-widget dd code, .sidebar-widget dd kbd, .sidebar-widget dd abbr, .sidebar-widget dd acronym, .sidebar-widget blockquote tt, .sidebar-widget blockquote var, .sidebar-widget blockquote code, .sidebar-widget blockquote kbd, .sidebar-widget blockquote abbr, .sidebar-widget blockquote acronym, .sidebar-widget address tt, .sidebar-widget address var, .sidebar-widget address code, .sidebar-widget address kbd, .sidebar-widget address abbr, .sidebar-widget address acronym { -moz-hyphens: none; }
.text li > ul, .text li > ol, .sidebar-widget li > ul, .sidebar-widget li > ol { margin-bottom: 0px; }
.text li, .sidebar-widget li { line-height: 1.65em; margin: 0.2625em 0px; }
.text blockquote, .sidebar-widget blockquote { padding-left: 3em; padding-right: 1em; }
.text form, .sidebar-widget form { line-height: 1.625em; margin-bottom: 1.3125em; }
.text form button, .text form input[type="submit"], .sidebar-widget form button, .sidebar-widget form input[type="submit"] { font-size: 1.125em; padding: 0.4em 1em 0.35em; }
.text a:not(.button), .sidebar-widget a:not(.button) { display: inline; }
.text nav a, .text .menu a, .text form ul a, form .text ul a, .text .errorlist a, .text input[type="submit"], .text input[type="reset"], .text input[type="button"], .text button, .text .prompt, .text .readmore:before, .text .give-me-more a:before, .give-me-more .text a:before, .text nav a:hover, .text .menu a:hover, .text form ul a:hover, form .text ul a:hover, .text .errorlist a:hover, .text input[type="submit"]:hover, .text input[type="reset"]:hover, .text input[type="button"]:hover, .text .prompt:hover, .text .readmore:hover:before, .text .give-me-more a:hover:before, .give-me-more .text a:hover:before, .text nav a:focus, .text .menu a:focus, .text form ul a:focus, form .text ul a:focus, .text .errorlist a:focus, .text input[type="submit"]:focus, .text input[type="reset"]:focus, .text input[type="button"]:focus, .text .prompt:focus, .text .readmore:focus:before, .text .give-me-more a:focus:before, .give-me-more .text a:focus:before, .sidebar-widget nav a, .sidebar-widget .menu a, .sidebar-widget form ul a, form .sidebar-widget ul a, .sidebar-widget .errorlist a, .sidebar-widget input[type="submit"], .sidebar-widget input[type="reset"], .sidebar-widget input[type="button"], .sidebar-widget button, .sidebar-widget .prompt, .sidebar-widget .readmore:before, .sidebar-widget .give-me-more a:before, .give-me-more .sidebar-widget a:before, .sidebar-widget nav a:hover, .sidebar-widget .menu a:hover, .sidebar-widget form ul a:hover, form .sidebar-widget ul a:hover, .sidebar-widget .errorlist a:hover, .sidebar-widget input[type="submit"]:hover, .sidebar-widget input[type="reset"]:hover, .sidebar-widget input[type="button"]:hover, .sidebar-widget .prompt:hover, .sidebar-widget .readmore:hover:before, .sidebar-widget .give-me-more a:hover:before, .give-me-more .sidebar-widget a:hover:before, .sidebar-widget nav a:focus, .sidebar-widget .menu a:focus, .sidebar-widget form ul a:focus, form .sidebar-widget ul a:focus, .sidebar-widget .errorlist a:focus, .sidebar-widget input[type="submit"]:focus, .sidebar-widget input[type="reset"]:focus, .sidebar-widget input[type="button"]:focus, .sidebar-widget .prompt:focus, .sidebar-widget .readmore:focus:before, .sidebar-widget .give-me-more a:focus:before, .give-me-more .sidebar-widget a:focus:before { border-bottom: 0px none; }
.text figcaption, .sidebar-widget figcaption { font-style: italic; font-size: 0.875em; }
.text abbr[title], .text dfn[title], .sidebar-widget abbr[title], .sidebar-widget dfn[title] { border-bottom: 1px dotted rgb(55, 118, 171); }
.text abbr[title], .sidebar-widget abbr[title] { font-size: 0.875em; text-transform: uppercase; letter-spacing: 0.125em; }
.text var, .sidebar-widget var { color: rgb(34, 34, 34); font-size: 104%; font-weight: 700; }
.text code, .text kbd, .text samp, .sidebar-widget code, .sidebar-widget kbd, .sidebar-widget samp { display: inline-block; }
.text code, .text samp, .sidebar-widget code, .sidebar-widget samp { border: 0px none; }
.text samp, .sidebar-widget samp { border-bottom: 1px solid rgb(202, 204, 206); background-color: rgb(230, 232, 234); padding: 0.125em 0.375em 0px; margin: 0px 0.25em; }
.text code, .text kbd, .sidebar-widget code, .sidebar-widget kbd { padding: 0.125em 0.375em 0px; margin: 0px -0.0625em; background: none repeat scroll 0% 0% rgba(230, 232, 234, 0.5); box-shadow: 0px 0px 0.5em rgba(0, 0, 0, 0.1) inset; border-radius: 6px; }
.text pre, .sidebar-widget pre { padding: 0.5em; border-left: 5px solid rgb(17, 166, 17); background: none repeat scroll 0% 0% rgb(230, 232, 234); box-shadow: 0px 0px 0.5em rgba(0, 0, 0, 0.1) inset; }
.text pre code, .sidebar-widget pre code { display: block; padding: 0px; margin: 0px; border-radius: 0px; }
.text s, .text strike, .text del, .sidebar-widget s, .sidebar-widget strike, .sidebar-widget del { color: rgb(153, 153, 153); }
table caption { caption-side: top; color: rgb(68, 68, 68); font-size: 1.125em; text-align: left; margin-bottom: 1.75em; }
table thead, table tfoot { border-bottom: 1px solid rgb(221, 221, 221); }
table tr { background-color: rgb(246, 246, 246); }
table tr th { background-color: rgb(240, 240, 240); }
table tr:nth-of-type(2n), table tr.even { background-color: rgb(240, 240, 240); }
table th, table td { padding: 0.25em 0.5em 0.2em; border-left: 2px solid white; }
table th:first-child, table td:first-child { border-left: medium none; }
table tfoot { border-top: 1px solid rgb(221, 221, 221); }
.row-title { border-top: 5px solid rgb(212, 219, 225); padding: 0.75em 1em 0.5em; }
.small-widget, .download-list-widget, .most-recent-events, .triple-widget, .most-recent-posts, .medium-widget, .sidebar-widget { border-top: 5px solid rgb(230, 232, 234); padding: 1.25em; }
.small-widget h4, .download-list-widget h4, .most-recent-events h4, .triple-widget h4, .most-recent-posts h4, .medium-widget h4, .sidebar-widget h4 { border-top: 1px solid rgb(230, 232, 234); margin-top: 1.75em; padding-top: 0.5em; }
.small-widget p, .download-list-widget p, .most-recent-events p, .triple-widget p, .most-recent-posts p, .medium-widget p, .sidebar-widget p, .small-widget ul, .download-list-widget ul, .most-recent-events ul, .triple-widget ul, .most-recent-posts ul, .medium-widget ul, .sidebar-widget ul { margin-bottom: 0.875em; }
.small-widget p:last-child, .download-list-widget p:last-child, .most-recent-events p:last-child, .triple-widget p:last-child, .most-recent-posts p:last-child, .medium-widget p:last-child, .sidebar-widget p:last-child, .small-widget ul:last-child, .download-list-widget ul:last-child, .most-recent-events ul:last-child, .triple-widget ul:last-child, .most-recent-posts ul:last-child, .medium-widget ul:last-child, .sidebar-widget ul:last-child { margin-bottom: 0px; }
.small-widget li > a, .download-list-widget li > a, .most-recent-events li > a, .triple-widget li > a, .most-recent-posts li > a, .medium-widget li > a, .sidebar-widget li > a { display: inline-block; }
.widget-title, .listing-company { color: rgb(68, 68, 68); line-height: 1.25em; margin: 0px 0px 0.1em; font-family: Flux-Regular,SourceSansProRegular,Arial,sans-serif; font-size: 1.3125em; }
.fontface .widget-title, .fontface .listing-company { font-size: 1.50938em; }
.fontface .widget-title span:before, .fontface .listing-company span:before { font-size: 0.875em; }
.widget-title .prompt, .widget-title .readmore:before, .widget-title .give-me-more a:before, .give-me-more .widget-title a:before, .listing-company .prompt, .listing-company .readmore:before, .listing-company .give-me-more a:before, .give-me-more .listing-company a:before { display: none; }
.widget-title > span, .listing-company > span { margin-right: 0.25em; }
.widget-title > span:before, .listing-company > span:before { color: rgb(153, 153, 153); }
.python .small-widget, .python .download-list-widget, .python .most-recent-events, .python .triple-widget, .python .most-recent-posts, .python .medium-widget, .python .sidebar-widget { border-top: 4px solid rgb(117, 168, 211); }
.psf-home .small-widget, .psf-home .download-list-widget, .psf-home .most-recent-events, .psf-home .triple-widget, .psf-home .most-recent-posts, .psf-home .medium-widget, .psf-home .sidebar-widget { border-top: 5px solid rgb(202, 204, 206); }
.docs .small-widget, .docs .download-list-widget, .docs .most-recent-events, .docs .triple-widget, .docs .most-recent-posts, .docs .medium-widget, .docs .sidebar-widget { border-top: 5px solid rgb(255, 211, 67); }
.pypl .small-widget, .pypl .download-list-widget, .pypl .most-recent-events, .pypl .triple-widget, .pypl .most-recent-posts, .pypl .medium-widget, .pypl .sidebar-widget { border-top: 5px solid rgb(130, 176, 67); }
.jobs .small-widget, .jobs .download-list-widget, .jobs .most-recent-events, .jobs .triple-widget, .jobs .most-recent-posts, .jobs .medium-widget, .jobs .sidebar-widget { border-top: 5px solid rgb(201, 171, 205); }
.shop .small-widget, .shop .download-list-widget, .shop .most-recent-events, .shop .triple-widget, .shop .most-recent-posts, .shop .medium-widget, .shop .sidebar-widget { border-top: 5px solid rgb(181, 88, 99); }
.python .widget-title > span:before, .python .listing-company > span:before { color: rgb(55, 118, 171); }
.psf .widget-title > span:before, .psf .listing-company > span:before { color: rgb(120, 121, 122); }
.docs .widget-title > span:before, .docs .listing-company > span:before { color: rgb(255, 211, 67); }
.pypl .widget-title > span:before, .pypl .listing-company > span:before { color: rgb(130, 176, 67); }
.jobs .widget-title > span:before, .jobs .listing-company > span:before { color: rgb(160, 107, 167); }
.shop .widget-title > span:before, .shop .listing-company > span:before { color: rgb(181, 88, 99); }
.download-widget p:last-child a { white-space: nowrap; }
.time-posted { display: block; font-size: 0.875em; font-style: italic; margin-bottom: 0.75em; }
.blog-name { display: block; font-family: SourceSansProBold,Arial,sans-serif; letter-spacing: 0.01em; }
.success-stories-widget blockquote { color: rgb(102, 102, 102); padding: 0.7em 1em 0.875em; margin-bottom: 0.4375em; font-size: 1em; line-height: 1.75em; background-color: rgb(255, 223, 118); background-image: linear-gradient(rgb(255, 229, 143) 10%, rgb(255, 223, 118) 90%); border-radius: 6px; }
.success-stories-widget blockquote:after { position: absolute; content: ""; width: 0px; height: 0px; border-right: 1.5em solid transparent; border-color: rgb(255, 223, 118) transparent transparent; border-style: solid; border-width: 1.5em; left: 20%; bottom: -2.875em; }
.success-stories-widget blockquote a { color: rgb(102, 102, 102); }
.success-stories-widget blockquote a:hover, .success-stories-widget blockquote a:focus, .success-stories-widget blockquote a:active { color: rgb(55, 118, 171); }
.success-stories-widget .quote-from td { padding: 0.5em; vertical-align: middle; }
.success-stories-widget .quote-from img { max-height: 5em; }
.success-stories-widget .quote-from p { font-size: 0.875em; }
.applications-widget { padding-left: 0.75em; }
.applications-widget ul { border-top: 1px solid rgb(202, 204, 206); }
.applications-widget li { padding: 0.5em 0px 0.4em; border-bottom: 1px solid rgb(202, 204, 206); }
.shrubbery { position: relative; }
.shrubbery .give-me-more { color: rgb(202, 204, 206); display: none; position: absolute; top: 0.25em; right: 0.25em; }
.shrubbery .give-me-more a { color: rgb(153, 153, 153); }
.shrubbery .give-me-more a:hover, .shrubbery .give-me-more a:active { color: rgb(102, 102, 102); }
.draft-preview { color: rgb(181, 88, 99); font-family: SourceSansProBold,Arial,sans-serif; }
.pep-widget { margin-bottom: 1.3125em; }
.pep-widget .widget-title { color: rgb(115, 115, 115); margin-bottom: 0.35em; font-size: 1.125em; }
.fontface .pep-widget .widget-title { font-size: 1.29375em; }
.fontface .pep-widget .widget-title span:before { font-size: 0.875em; }
.pep-widget .widget-title a { color: rgb(55, 118, 171); }
.pep-widget .widget-title a:hover, .pep-widget .widget-title a:active { color: rgb(31, 59, 71); }
.pep-widget .pep-number { color: rgb(102, 102, 102); font-family: SourceSansProBold,Arial,sans-serif; display: inline-block; width: 3em; }
.pep-list { border-top: 1px solid rgb(202, 204, 206); line-height: 1.2em; margin: 0px; }
.pep-list li { display: block; line-height: 1.35em; }
.pep-list li a { display: block; color: rgb(55, 118, 171); background-color: rgb(242, 244, 246); border-bottom: 1px solid rgb(230, 234, 238); padding: 0.6em 0.75em 0.5em; }
.pep-list li a:hover, .pep-list li a:focus, .pep-list li a:active { color: rgb(34, 34, 34); background-color: rgb(254, 254, 254); }
.rss-link { line-height: 1em; }
.rss-link span:before { color: rgb(204, 149, 71); }
.pep-list-header { font-family: SourceSansProBold,Arial,sans-serif; display: none; }
.pep-index-list { margin-bottom: 2.625em; }
.pep-index-list .label { font-family: SourceSansProBold,Arial,sans-serif; display: inline-block; width: 20%; }
.pep-index-list li { background-color: rgb(242, 244, 246); border-bottom: 1px solid rgb(202, 204, 206); }
.pep-index-list a { display: inline-block; color: rgb(55, 118, 171); }
.pep-index-list a:hover, .pep-index-list a:focus, .pep-index-list a:active { color: rgb(34, 34, 34); }
.pep-type, .pep-num, .pep-title, .pep-owner { padding: 0.5em 0.5em 0.4em; border-bottom: 1px solid rgb(227, 231, 236); }
.footnote .label { width: 4em; }
.info-key dt, .info-key dd { display: block; float: left; padding: 0.5em 0.5em 0.4em; }
.info-key dt { width: 25%; }
.info-key dd { width: 75%; border-bottom: 1px solid rgb(230, 232, 234); }
.pep-owner-header { margin: 0px -0.5em; overflow: hidden; }
.pep-owner-header .label { font-family: SourceSansProBold,Arial,sans-serif; float: left; width: 50%; padding: 0.25em 0.5em 0.2em; }
.pep-owner-list li { background-color: rgb(242, 244, 246); border-bottom: 1px solid rgb(202, 204, 206); overflow: hidden; }
.pep-owner-list li:hover { background-color: rgb(254, 254, 254); }
.pep-owner-list .owner-name, .pep-owner-list .owner-email { float: left; width: 50%; padding: 0.5em 0.5em 0.4em; }
.featured-success-story { padding: 1.3125em 0px; background: url('success-glow2.png') no-repeat scroll center -230px transparent; }
.featured-success-story img { padding: 10px 30px; }
.featured-success-story .success-quote { color: rgb(255, 211, 67); font-size: 1.625em; line-height: 1.5; position: static; text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5); }
.featured-success-story .success-quote:before, .featured-success-story .success-quote:after { color: rgb(79, 144, 198); font-style: normal; font-size: 2em; line-height: 0; vertical-align: text-bottom; position: static; }
.featured-success-story .success-quote:before { content: "“"; top: auto; left: auto; margin-left: -0.2em; }
.featured-success-story .success-quote:after { content: "”"; bottom: auto; right: auto; margin-right: -0.2em; }
a.activity-feed { border-bottom: 0px none; font-size: 0.75em; }
a.activity-feed span { margin-right: 0.25em; }
p.quote-by { color: rgb(230, 232, 234); margin-bottom: 0px; }
p.quote-by-organization { color: rgb(230, 232, 234); }
.newest-success-stories { padding-top: 1.3125em; }
.newest-success-stories .widget-title { position: relative; }
.story-header { background-color: rgb(242, 244, 246); margin: -1.3em 0px 0px; overflow: hidden; max-height: 24em; border-bottom: 3px solid rgb(255, 211, 67); }
.story-header img { display: block; margin: 0px auto; min-width: 100%; }
.welcome-message { font-family: SourceSansProRegular,Arial,sans-serif; font-size: 1.125em; color: rgb(255, 199, 16); margin-top: 0px; margin-bottom: 0.875em; }
.fontface .welcome-message { font-size: 1.125em; }
.latest-blog-post .date-posted, .latest-blog-post .event-date, .featured-event .date-posted, .featured-event .event-date { color: rgb(168, 168, 168); }
.latest-blog-post p.excerpt, .featured-event p.excerpt { max-width: none; }
.latest-blog-post .readmore, .featured-event .readmore { color: rgb(255, 211, 67); }
.latest-blog-post .readmore:hover, .latest-blog-post .readmore:focus, .featured-event .readmore:hover, .featured-event .readmore:focus { color: white; }
.most-recent-posts li time { position: relative; }
.just-missed { color: rgb(55, 118, 171); margin-top: 1.3125em; }
.list-recent-events, .list-recent-posts { border-top: 1px solid rgb(221, 221, 221); }
.list-recent-events li, .list-recent-posts li { position: relative; border-bottom: 1px solid rgb(221, 221, 221); padding: 0px 0px 0.75em; }
.list-recent-events .event-title, .list-recent-posts .event-title { font-size: 1.25em; line-height: 1.3em; margin-top: 0.4375em; }
.single-event-date { margin-top: 0.75em; margin-bottom: 1.25em; padding: 0.5em 0.75em; }
.event-description { padding: 1.3125em 0px; }
.more-by-location { margin-bottom: 0px; }
.community-success-stories blockquote { padding: 0px; color: rgb(102, 102, 102); line-height: 1.5; }
.community-success-stories blockquote:before { content: ""; }
.python-weekly { background-color: rgb(242, 244, 246); border-radius: 0px 0px 8px 8px; padding: 0.75em 1em; }
.twitter-stream li { background-color: rgb(242, 244, 246); line-height: 1.3; padding: 0.5em; margin-bottom: 0.25em; }
.twitter-stream li .view-on-twitter { font-family: SourceSansProBold,Arial,sans-serif; font-size: 0.85714em; }
.twitteruser { font-family: SourceSansProBold,Arial,sans-serif; }
.twittermention { color: rgb(55, 118, 171); }
.mapped-events { border-top: 3px solid rgb(230, 232, 234); }
.mapped-events .medium-widget { border-top: 0px none; }
.tag-wrapper { display: block; }
.tag-wrapper .tag { white-space: nowrap; color: rgb(102, 102, 102); font-size: 0.875em; vertical-align: baseline; padding: 0.2em 0.4em 0.1em; background-color: rgb(230, 232, 234); border-top: 1px solid rgb(242, 244, 246); border-bottom: 1px solid rgb(202, 204, 206); }
.tag-wrapper .tag:hover, .tag-wrapper .tag:focus { color: rgb(68, 68, 68); background-color: rgb(208, 212, 215); border-top: 1px solid rgb(218, 224, 229); border-bottom: 1px solid rgb(181, 184, 186); }
.git-avatar, .git-repo { display: inline-block; vertical-align: bottom; }
.git-avatar { margin-right: 0.5em; }
.git-repo { padding-bottom: 0.25em; }
.list-row-headings { font-family: SourceSansProBold,Arial,sans-serif; padding: 0.5em 0.5em 0.4em 0.75em; margin-right: 1.25em; }
.list-row-container { border: 1px solid rgb(202, 204, 206); }
.list-row-container li { padding: 0.5em 0.5em 0.4em 0.75em; margin-right: 0px; }
.list-row-container li:nth-child(2n+1) { background-color: rgb(242, 244, 246); }
.pagination, .previous-next { display: block; width: 100%; text-align: center; padding-top: 1.3125em; }
.pagination li { line-height: 2; display: inline-block; vertical-align: baseline; }
.lt-ie8 .pagination li { display: inline; }
.pagination a:hover, .pagination a:focus { color: rgb(51, 51, 51); background-color: rgb(255, 211, 67); }
.pagination a.active { color: rgb(230, 232, 234); background-color: rgb(55, 118, 171); }
.pagination a.disabled, .pagination a.disabled:hover, .pagination a.disabled:focus { color: rgb(202, 204, 206); background-color: transparent; }
.pagination .previous a, .pagination .next a, .pagination .previous a:hover, .pagination .next a:hover, .pagination .previous a:focus, .pagination .next a:focus { border: 0px none; }
.previous-next .prev-button, .previous-next .next-button { display: block; padding: 0.5em 0.75em 0.4em; margin-bottom: 0.875em; }
.previous-next .prev-button:hover:not(.disabled), .previous-next .prev-button:focus:not(.disabled), .previous-next .next-button:hover:not(.disabled), .previous-next .next-button:focus:not(.disabled) { color: rgb(51, 51, 51); background-color: rgb(255, 211, 67); }
.previous-next .prev-button-text, .previous-next .next-button-text { display: block; border-bottom: 1px solid rgb(202, 204, 206); padding-bottom: 0.5em; }
.previous-next .prevnext-description { display: block; padding-top: 0.5em; }
.previous-next .disabled .prev-button-text, .previous-next .disabled .next-button-text { color: rgb(202, 204, 206); border-bottom: 0px none; }
.previous-next .icon-arrow-right, .previous-next .icon-arrow-left { vertical-align: bottom; }
.single-event .previous-next { margin-top: 1.3125em; border-top: 1px solid rgb(202, 204, 206); }
.release-number, .release-date, .release-download, .release-enhancements { display: block; }
.release-number { font-family: SourceSansProBold,Arial,sans-serif; }
.download-list-widget .list-row-headings, .download-list-widget .list-row-container li { font-size: 0.875em; }
.download-list-widget .list-row-container { margin-bottom: 0.5em; }
.no-touch .download-list-widget .list-row-container { height: 16.75em; overflow-y: scroll; }
.main-content .psf-widget a:not(.button), .main-content .python-needs-you-widget a:not(.button) { color: rgb(255, 211, 67); }
.main-content .psf-widget a:hover:not(.button), .main-content .psf-widget a:focus:not(.button), .main-content .python-needs-you-widget a:hover:not(.button), .main-content .python-needs-you-widget a:focus:not(.button) { color: rgb(255, 241, 194); }
.psf-widget .widget-title, .psf-widget .readmore, .psf-widget .readmore:before, .python-needs-you-widget .widget-title, .python-needs-you-widget .readmore, .python-needs-you-widget .readmore:before { color: rgb(255, 211, 67); }
.psf-widget p, .python-needs-you-widget p { color: rgb(202, 204, 206); }
.psf-widget .click-these, .python-needs-you-widget .click-these { margin-bottom: 0px; }
.user-feedback { padding: 0.75em 1em 0.65em; margin-bottom: 1.3125em; border-radius: 6px; }
.user-feedback p { margin-bottom: 0px; }
.user-feedback a { text-decoration: underline; }
.user-feedback a:hover, .user-feedback a:focus { color: rgb(34, 34, 34); }
.level-general { background-color: rgb(233, 241, 248); border: 1px solid rgb(194, 217, 236); }
.level-notice { background-color: rgb(255, 247, 220); border: 2px solid rgb(255, 211, 67); }
.level-error { background-color: rgb(236, 212, 215); border: 2px solid rgb(181, 88, 99); }
.level-error span { color: rgb(181, 88, 99); }
.level-success { background-color: rgb(214, 231, 191); border: 2px solid rgb(130, 176, 67); }
.level-success span { color: rgb(130, 176, 67); margin-right: 0.5em; }
.left-sidebar .sidebar-widget { margin-bottom: 0.875em; }
.left-sidebar .twitter-widget { padding: 0px; }
.left-sidebar .twtr-doc { padding: 0.75em; }
.jobs-form p { padding: 0px 0.3125em; }
.jobs-form .required { background-color: rgb(248, 240, 241); padding-top: 0.625em; }
.list-recent-jobs li { padding: 0.875em 0.5em; }
.listing-company .listing-new { display: inline-block; color: white; background-color: rgb(181, 88, 99); font-size: 0.58333em; text-transform: uppercase; letter-spacing: 0.0625em; padding: 0.45em 0.5em 0px; margin-right: 0.25em; }
.listing-company .listing-location a { color: rgb(153, 153, 153); }
.listing-company .listing-location a:hover, .listing-company .listing-location a:focus { color: rgb(55, 118, 171); }
.listing-company-category, .listing-job-type, .listing-posted { clear: both; display: block; }
.listing-company .company-name { font-size: 125%; }
.job-post-meta { clear: both; border: 1px solid rgb(202, 204, 206); padding: 0.875em 0.5em; overflow: hidden; }
.job-post-meta span { display: block; }
.job-tags { margin-bottom: 0px; }
.breadcrumbs { padding: 0.5em 0px; border-bottom: 1px solid rgb(202, 204, 206); white-space: nowrap; }
.breadcrumbs li { display: inline-block; vertical-align: baseline; }
.lt-ie8 .breadcrumbs li { display: inline; }
.breadcrumbs .prompt, .breadcrumbs .readmore:before, .breadcrumbs .give-me-more a:before, .give-me-more .breadcrumbs a:before { margin-left: 0.5em; }
.section-navigation { border-top: 3px solid rgb(117, 168, 211); background-color: rgb(225, 236, 245); padding: 0.875em 0.75em; }
.section-navigation h2:first-child { margin-top: 0.65625em; }
.section-navigation h3:first-child { margin-top: 0.65625em; }
.section-nav a { display: block; padding: 0.3em 0px 0.2em; }
.psf-sidebar-widget { color: rgb(242, 244, 246); background-color: rgb(55, 118, 171); background-image: linear-gradient(rgb(43, 91, 132) 10%, rgb(55, 118, 171) 90%); }
.psf-sidebar-widget .widget-title { color: rgb(255, 211, 67); margin-top: 0.4375em; }
.psf-sidebar-widget .widget-title a { color: rgb(255, 211, 67); }
.psf-sidebar-widget .widget-title a:hover, .psf-sidebar-widget .widget-title a:focus { color: white; }
.user-profile-controls { border-bottom: 1px solid rgb(202, 204, 206); margin-bottom: 2em; }
.user-profile-controls li { display: inline-block; vertical-align: baseline; margin-right: 0.75em; }
.lt-ie8 .user-profile-controls li { display: inline; }
.user-profile-controls + .return-link { margin-top: -1.3125em; }
.return-link { padding-bottom: 2.1875em; }
.active-user-list .user-name, .active-user-list .user-location, .active-user-list .user-psfmember-status { display: inline-block; vertical-align: top; }
.active-user-list .user-name { width: 25%; }
.active-user-list .user-location { width: 40%; }
.active-user-list .user-psfmember-status { width: 25%; }
.profile-label { color: rgb(153, 153, 153); }
.psf-codeofconduct { font-size: 0.875em; padding: 0.5em 1em; margin-bottom: 1em; background-color: white; box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.15); }
.horizontal-menu { padding-bottom: 1.3125em; }
.horizontal-menu ul, .horizontal-menu ol { list-style: outside none none; margin-left: 0px; }
.horizontal-menu li { margin-right: 1em; display: inline-block; vertical-align: baseline; }
.lt-ie8 .horizontal-menu li { display: inline; }
.main-footer .jump-link, .sitemap a, .footer-links a { display: block; text-align: center; padding: 0.5em 0.75em 0.4em; }
.main-footer { clear: both; color: rgb(102, 102, 102); background-color: rgb(230, 232, 234); border-top: 1px solid rgb(216, 219, 222); }
.main-footer .container { padding: 0px 0.75em 0.75em; }
.main-footer a { color: rgb(102, 102, 102); }
.main-footer a:hover, .main-footer a:focus { color: rgb(68, 68, 68); }
.main-footer .jump-link { background-color: rgb(224, 227, 229); }
.main-footer a.jump-link { margin: 0.75em 0px; border-top: 1px solid rgb(230, 232, 234); border-bottom: 1px solid rgb(219, 222, 225); }
.main-footer a.jump-link:hover, .main-footer a.jump-link:focus { background-color: rgb(219, 222, 225); border-top: 1px solid rgb(224, 227, 229); border-bottom: 1px solid rgb(213, 217, 220); }
.sitemap { padding-bottom: 0.5em; }
.sitemap .tier-1 { margin-bottom: 1.3125em; }
.sitemap .tier-1 > a { color: rgb(55, 118, 171); padding: 0.4em 0.5em 0.3em; font-family: Flux-Bold,SourceSansProBold,Arial,sans-serif; font-size: 1.25em; margin-top: 0.875em; margin-bottom: 0px; }
.sitemap .tier-1 > a:hover, .sitemap .tier-1 > a:focus { color: rgb(34, 34, 34); }
.sitemap .subnav { font-size: 1em; margin-bottom: 0px; border-top: 1px solid rgb(213, 214, 216); border-bottom: 1px solid rgb(247, 247, 248); }
.sitemap .subnav li { border-top: 1px solid rgb(247, 247, 248); border-bottom: 1px solid rgb(213, 214, 216); }
.sitemap .subnav a:hover, .sitemap .subnav a:focus { background-color: rgb(236, 237, 239); }
.site-base { border-top: 1px solid rgb(17, 17, 17); }
.site-base .container { padding: 1em; }
.footer-links { margin-bottom: 0.5em; }
.footer-links a { color: rgb(137, 180, 217); font-family: Flux-Bold,SourceSansProBold,Arial,sans-serif; font-size: 1.125em; }
.fontface .footer-links a { font-size: 1.29375em; }
.fontface .footer-links a span:before { font-size: 0.875em; }
.footer-links a:hover, .footer-links a:focus { color: rgb(255, 247, 220); text-shadow: 0px 0px 5px rgba(255, 211, 67, 0.2); }
.copyright { clear: both; color: rgb(117, 168, 211); font-size: 0.75em; text-align: center; margin-bottom: 0px; }
.copyright a { border-bottom: 1px dotted rgb(79, 144, 198); color: rgb(117, 168, 211); }
.copyright a:hover, .copyright a:focus { color: white; text-decoration: none; }
.text .flex-slideshow ul, .text .flex-slideshow ol { margin-bottom: 0px; }
.generatedcontent .text .flex-slideshow ul li:before { content: ""; display: none; }
.loading .flex-slideshow { opacity: 0; }
.flex-slideshow { position: relative; }
.flex-slideshow .slides {  }
.flex-slideshow .slides:after { content: ""; display: table; clear: both; }
.flex-slideshow .slides > li { display: none; }
* html .flex-slideshow .slides { height: 1%; }
.no-js .flex-slideshow .slides > li:first-child { display: block; }
.flex-slideshow .slide-container { position: relative; }
.flex-slideshow .frame-wrapper { margin-bottom: 0.75em; }
.flex-slideshow .caption-wrapper h2 { margin-top: 0px; }
.flex-slideshow .caption-wrapper p { min-height: 1.75em; }
.flex-control-nav li, .flex-direction-nav li { display: inline-block; }
.flex-control-nav a, .flex-direction-nav a { cursor: pointer; display: block; }
.flex-control-nav { text-align: center; padding: 0px 2.5em; }
.flex-control-nav a { font-size: 1em; line-height: 1em; color: rgb(136, 136, 136); margin-left: 0.5em; }
.flex-control-nav a:hover, .flex-control-nav a:focus { color: rgb(68, 68, 68); background-color: rgb(204, 204, 204); border-color: rgb(187, 187, 187); }
.text .flex-control-nav a { text-decoration: none; }
.flex-control-nav .flex-active { color: rgb(102, 102, 102); background-color: white; }
.touch .flex-control-nav a { padding: 0.5em 0.75em; }
.flex-direction-nav { height: 0px; }
.touch .flex-direction-nav { display: none; }
.flex-direction-nav .flex-prev, .flex-direction-nav .flex-next { position: absolute; bottom: -0.25em; font-size: 1.25em; font-weight: bold; line-height: 1em; color: rgb(153, 153, 153); }
.flex-direction-nav .flex-prev:hover, .flex-direction-nav .flex-prev:focus, .flex-direction-nav .flex-next:hover, .flex-direction-nav .flex-next:focus { opacity: 1; }
.text .flex-direction-nav .flex-prev, .text .flex-direction-nav .flex-next { text-decoration: none; }
.flex-direction-nav .flex-prev { left: 0px; }
.flex-direction-nav .flex-next { right: 0px; }
.home-slideshow .flex-direction-nav .flex-prev, .home-slideshow .flex-direction-nav .flex-next { top: 33%; bottom: auto; opacity: 0.7; }
.home-slideshow .flex-direction-nav .flex-prev:hover, .home-slideshow .flex-direction-nav .flex-prev:focus, .home-slideshow .flex-direction-nav .flex-next:hover, .home-slideshow .flex-direction-nav .flex-next:focus { opacity: 1; }
.home-slideshow .flex-direction-nav .flex-prev { left: 0.75em; }
.home-slideshow .flex-direction-nav .flex-next { right: 0.75em; }
.home-slideshow .flex-direction-nav .flex-prev:hover, .home-slideshow .flex-direction-nav .flex-next:hover { background-color: rgb(230, 232, 234); }
@media print {
  .flex-control-nav, .flex-direction-nav, .flex-control-paging { display: none; }
}
#nojs, #oldie-warning { padding: 0.75em 0.75em 0.65em; text-align: center; background-color: rgb(204, 51, 51); }
#nojs p, #oldie-warning p { color: rgb(230, 230, 230); font-weight: bold; margin: 0px; }
#nojs a, #oldie-warning a { color: rgb(230, 230, 230); text-decoration: underline; }
#nojs a:hover, #nojs a:focus, #oldie-warning a:hover, #oldie-warning a:focus { color: rgb(255, 255, 255); text-decoration: none; }
#oldie-warning { background-color: rgb(255, 255, 119); }
#oldie-warning p { color: rgb(68, 68, 68); }
#oldie-warning a { color: rgb(68, 68, 68); }
#oldie-warning a:hover, #oldie-warning a:focus { color: rgb(0, 0, 0); }
.js #nojs { display: none; }
.ir { display: block; text-indent: -9999px; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.screen-reader-text { border: 0px none; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; width: 1px; }
.screen-reader-text.focusable:active, .screen-reader-text.focusable:focus { clip: auto; height: auto; margin: 0px; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
@media print {
  *, *:before, *:after { background: none repeat scroll 0% 0% transparent ! important; color: rgb(0, 0, 0) ! important; box-shadow: none ! important; text-shadow: none ! important; }
  body { font-size: 10pt; line-height: 1.67; }
  a, a:visited { text-decoration: underline ! important; }
  [role="main"] a[href]:after { content: " (" attr(href) ")"; font-size: 75%; }
  [role="main"] abbr[title]:after { content: " (" attr(title) ")"; font-size: 75%; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid rgb(153, 153, 153); page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% ! important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h1, h2, h3 { page-break-after: avoid; }
  .do-not-print, .screen-reader-text, .invisible, .jump-to-menu, .jump-link, #site-map-link { display: none; }
  .say-no-more { display: inline; visibility: visible; }
  .blog-widget li, .event-widget li { padding-left: 6em; }
  .site-headline a { display: block; }
  .site-headline a .python-logo, .site-headline a .psf-logo { display: none; }
  .python .site-headline a:before { width: 290px; height: 82px; content: url('python-logo_print.png'); }
  .psf .site-headline a:before { width: 334px; height: 82px; content: url('psf-logo_print.png'); }
}
.icon-megaphone, .icon-python-alt, .icon-pypi, .icon-news, .icon-moderate, .icon-mercurial, .icon-jobs, .icon-help, .icon-google-plus, .icon-download, .icon-documentation, .icon-community, .icon-code, .icon-close, .icon-calendar, .icon-beginner, .icon-advanced, .icon-sitemap, .icon-search, .icon-search-alt, .icon-python, .icon-github, .icon-get-started, .icon-feed, .icon-facebook, .icon-email, .icon-arrow-up, .icon-arrow-right, .icon-arrow-left, .icon-arrow-down, .errorlist:before, .icon-freenode, .icon-alert, .icon-versions, .icon-twitter, .icon-thumbs-up, .icon-thumbs-down, .icon-text-resize, .icon-success-stories, .icon-statistics, .icon-stack-overflow { font-family: "Pythonicon"; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; margin-right: 0.5em; -moz-osx-font-smoothing: grayscale; }
.icon-megaphone:before { content: ""; }
.icon-python-alt:before { content: ""; }
.icon-pypi:before { content: ""; }
.icon-news:before { content: ""; }
.icon-moderate:before { content: ""; }
.icon-mercurial:before { content: ""; }
.icon-jobs:before { content: ""; }
.icon-help:before { content: "?"; }
.icon-google-plus:before { content: ""; }
.icon-download:before { content: ""; }
.icon-documentation:before { content: ""; }
.icon-community:before { content: ""; }
.icon-code:before { content: ""; }
.icon-close:before { content: "X"; }
.icon-calendar:before { content: ""; }
.icon-beginner:before { content: ""; }
.icon-advanced:before { content: ""; }
.icon-sitemap:before { content: ""; }
.icon-search-alt:before { content: ""; }
.icon-search:before { content: ""; }
.icon-python:before { content: ""; }
.icon-github:before { content: ""; }
.icon-get-started:before { content: ""; }
.icon-feed:before { content: ""; }
.icon-facebook:before { content: ""; }
.icon-email:before { content: ""; }
.icon-arrow-up:before { content: ""; }
.icon-arrow-right:before { content: ""; }
.icon-arrow-left:before { content: ""; }
.icon-arrow-down:before, .errorlist:before { content: ""; }
.icon-freenode:before { content: ""; }
.icon-alert:before { content: ""; }
.icon-versions:before { content: ""; }
.icon-twitter:before { content: ""; }
.icon-thumbs-up:before { content: ""; }
.icon-thumbs-down:before { content: ""; }
.icon-text-resize:before { content: ""; }
.icon-success-stories:before { content: ""; }
.icon-statistics:before { content: ""; }
.icon-stack-overflow:before { content: ""; }
.no-fontface .icon-megaphone:before, .no-fontface .icon-python-alt:before, .no-fontface .icon-pypi:before, .no-fontface .icon-news:before, .no-fontface .icon-moderate:before, .no-fontface .icon-mercurial:before, .no-fontface .icon-jobs:before, .no-fontface .icon-help:before, .no-fontface .icon-google-plus:before, .no-fontface .icon-download:before, .no-fontface .icon-documentation:before, .no-fontface .icon-community:before, .no-fontface .icon-code:before, .no-fontface .icon-close:before, .no-fontface .icon-calendar:before, .no-fontface .icon-beginner:before, .no-fontface .icon-advanced:before, .no-fontface .icon-sitemap:before, .no-fontface .icon-search:before, .no-fontface .icon-search-alt:before, .no-fontface .icon-python:before, .no-fontface .icon-github:before, .no-fontface .icon-get-started:before, .no-fontface .icon-feed:before, .no-fontface .icon-facebook:before, .no-fontface .icon-email:before, .no-fontface .icon-arrow-up:before, .no-fontface .icon-arrow-right:before, .no-fontface .icon-arrow-left:before, .no-fontface .icon-arrow-down:before, .no-fontface .errorlist:before, .no-fontface .icon-freenode:before, .no-fontface .icon-alert:before, .no-fontface .icon-versions:before, .no-fontface .icon-twitter:before, .no-fontface .icon-thumbs-up:before, .no-fontface .icon-thumbs-down:before, .no-fontface .icon-text-resize:before, .no-fontface .icon-success-stories:before, .no-fontface .icon-statistics:before, .no-fontface .icon-stack-overflow:before, .no-svg .icon-megaphone:before, .no-svg .icon-python-alt:before, .no-svg .icon-pypi:before, .no-svg .icon-news:before, .no-svg .icon-moderate:before, .no-svg .icon-mercurial:before, .no-svg .icon-jobs:before, .no-svg .icon-help:before, .no-svg .icon-google-plus:before, .no-svg .icon-download:before, .no-svg .icon-documentation:before, .no-svg .icon-community:before, .no-svg .icon-code:before, .no-svg .icon-close:before, .no-svg .icon-calendar:before, .no-svg .icon-beginner:before, .no-svg .icon-advanced:before, .no-svg .icon-sitemap:before, .no-svg .icon-search:before, .no-svg .icon-search-alt:before, .no-svg .icon-python:before, .no-svg .icon-github:before, .no-svg .icon-get-started:before, .no-svg .icon-feed:before, .no-svg .icon-facebook:before, .no-svg .icon-email:before, .no-svg .icon-arrow-up:before, .no-svg .icon-arrow-right:before, .no-svg .icon-arrow-left:before, .no-svg .icon-arrow-down:before, .no-svg .errorlist:before, .no-svg .icon-freenode:before, .no-svg .icon-alert:before, .no-svg .icon-versions:before, .no-svg .icon-twitter:before, .no-svg .icon-thumbs-up:before, .no-svg .icon-thumbs-down:before, .no-svg .icon-text-resize:before, .no-svg .icon-success-stories:before, .no-svg .icon-statistics:before, .no-svg .icon-stack-overflow:before, .no-generatedcontent .icon-megaphone:before, .no-generatedcontent .icon-python-alt:before, .no-generatedcontent .icon-pypi:before, .no-generatedcontent .icon-news:before, .no-generatedcontent .icon-moderate:before, .no-generatedcontent .icon-mercurial:before, .no-generatedcontent .icon-jobs:before, .no-generatedcontent .icon-help:before, .no-generatedcontent .icon-google-plus:before, .no-generatedcontent .icon-download:before, .no-generatedcontent .icon-documentation:before, .no-generatedcontent .icon-community:before, .no-generatedcontent .icon-code:before, .no-generatedcontent .icon-close:before, .no-generatedcontent .icon-calendar:before, .no-generatedcontent .icon-beginner:before, .no-generatedcontent .icon-advanced:before, .no-generatedcontent .icon-sitemap:before, .no-generatedcontent .icon-search:before, .no-generatedcontent .icon-search-alt:before, .no-generatedcontent .icon-python:before, .no-generatedcontent .icon-github:before, .no-generatedcontent .icon-get-started:before, .no-generatedcontent .icon-feed:before, .no-generatedcontent .icon-facebook:before, .no-generatedcontent .icon-email:before, .no-generatedcontent .icon-arrow-up:before, .no-generatedcontent .icon-arrow-right:before, .no-generatedcontent .icon-arrow-left:before, .no-generatedcontent .icon-arrow-down:before, .no-generatedcontent .errorlist:before, .no-generatedcontent .icon-freenode:before, .no-generatedcontent .icon-alert:before, .no-generatedcontent .icon-versions:before, .no-generatedcontent .icon-twitter:before, .no-generatedcontent .icon-thumbs-up:before, .no-generatedcontent .icon-thumbs-down:before, .no-generatedcontent .icon-text-resize:before, .no-generatedcontent .icon-success-stories:before, .no-generatedcontent .icon-statistics:before, .no-generatedcontent .icon-stack-overflow:before { display: none; margin-right: 0px; }
.ie8 .icon-megaphone:before, .ie8 .icon-python-alt:before, .ie8 .icon-pypi:before, .ie8 .icon-news:before, .ie8 .icon-moderate:before, .ie8 .icon-mercurial:before, .ie8 .icon-jobs:before, .ie8 .icon-help:before, .ie8 .icon-google-plus:before, .ie8 .icon-download:before, .ie8 .icon-documentation:before, .ie8 .icon-community:before, .ie8 .icon-code:before, .ie8 .icon-close:before, .ie8 .icon-calendar:before, .ie8 .icon-beginner:before, .ie8 .icon-advanced:before, .ie8 .icon-sitemap:before, .ie8 .icon-search:before, .ie8 .icon-search-alt:before, .ie8 .icon-python:before, .ie8 .icon-github:before, .ie8 .icon-get-started:before, .ie8 .icon-feed:before, .ie8 .icon-facebook:before, .ie8 .icon-email:before, .ie8 .icon-arrow-up:before, .ie8 .icon-arrow-right:before, .ie8 .icon-arrow-left:before, .ie8 .icon-arrow-down:before, .ie8 .errorlist:before, .ie8 .icon-freenode:before, .ie8 .icon-alert:before, .ie8 .icon-versions:before, .ie8 .icon-twitter:before, .ie8 .icon-thumbs-up:before, .ie8 .icon-thumbs-down:before, .ie8 .icon-text-resize:before, .ie8 .icon-success-stories:before, .ie8 .icon-statistics:before, .ie8 .icon-stack-overflow:before { display: inline; }

/* ::::: null ::::: */

.pep-page pre { padding: 0.5em; background: inherit; border-left: 0px none; box-shadow: 0px 0px 0px 0px; }
